header, footer{
    border: 1px solid black;
}
#a {
    height: 75px;
    background-color: grey;
}
#b {
    height: 150px;
    background-color: rgb(185, 183, 183);
    border: 1px solid black;
}
#c, #d {
    height: 125px;
    background-color: rgb(182, 142, 142);
    border: 1px solid black;
}
#e, #f{
    width: 50%;
    height: 250px;
    background-color: rgb(175, 104, 104);
    border: 1px solid black;
}
#g, #h{
    width: 50%;
    height: 250px;
    background-color: rgb(172, 78, 78);
    border: 1px solid black;
}
#i {
    height: 80px;
    background-color: rgb(165, 37, 37);
}

@media(min-width: 960px) {
    #a {
        height: 100px;
        width: 960px;
        background-color: rgb(165, 37, 37);
    }
    #b {
        height: 600px;
        width: 200px;
        background-color: rgb(175, 104, 104);
    }
    #c , #d {
        height: 200px;
        width: 380px;
        background-color: rgb(172, 78, 78);
    }
    #e ,#f , #g,#h {
        height: 250px;
        width: 190px;
        background-color: rgb(182, 142, 142);
    }
    #i {
        height: 150px;
        width:760px;
        background-color: grey;
        border: 1px solid black;
    }
}